.view-container {
  position: relative;
}
.view-frame.ng-enter,
.review-list.ng-enter,
.view-frame.ng-leave,
.review-list.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.view-frame.ng-enter,
.review-list.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}
.view-frame.ng-leave,
.review-list.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.product-list-container {
  overflow: hidden;
}
.product-list-container .product-list.ng-enter,
.product-list-container .product-list.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}
.product-list-container .product-list.ng-enter.col-lg-6,
.product-list-container .product-list.ng-leave.col-lg-6 {
  width: 25%;
}
.product-list-container .product-list.prev.ng-enter {
  left: -100%;
}
.product-list-container .product-list.prev.ng-enter.ng-enter-active {
  left: 0;
}
.product-list-container .product-list.prev.ng-leave {
  left: 0;
}
.product-list-container .product-list.prev.ng-leave.ng-leave-active {
  left: 100%;
}
.product-list-container .product-list.next.ng-enter {
  left: 100%;
}
.product-list-container .product-list.next.ng-enter.ng-enter-active {
  left: 0;
}
.product-list-container .product-list.next.ng-leave {
  left: 0%;
}
.product-list-container .product-list.next.ng-leave.ng-leave-active {
  left: -100%;
}
