/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.pagination {
  margin-bottom: 20px;
  margin-top: 0;
}
.modal-body .col-xs-3.card-expiry-month {
  padding: 0;
}
.modal-body .loading {
  background-image: url('../img/31.gif');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-size: 2em 2em;
  margin-left: 1em;
}
.modal-body .message {
  margin-left: 1em;
}
.modal-backdrop {
  bottom: 0;
}
.product-list {
  min-height: 100px;
}
.product h1 {
  margin-top: 0;
}
.product .mfg {
  color: #aaa;
  font-weight: normal;
}
.product .description {
  margin: 10px 1px;
}
.reviews {
  margin-top: 40px;
}
.reviews a {
  display: block;
  margin-bottom: 30px;
}
.reviews h2 {
  margin: 25px 0;
}
.reviews .review .name {
  font-size: 20px;
  padding: 8px 0 5px 0;
}
.reviews .review .comment {
  padding-top: 12px;
}
.view-container {
  position: relative;
}
.view-frame.ng-enter,
.review-list.ng-enter,
.view-frame.ng-leave,
.review-list.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.view-frame.ng-enter,
.review-list.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}
.view-frame.ng-leave,
.review-list.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.product-list-container {
  overflow: hidden;
}
.product-list-container .product-list.ng-enter,
.product-list-container .product-list.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}
.product-list-container .product-list.ng-enter.col-lg-6,
.product-list-container .product-list.ng-leave.col-lg-6 {
  width: 25%;
}
.product-list-container .product-list.prev.ng-enter {
  left: -100%;
}
.product-list-container .product-list.prev.ng-enter.ng-enter-active {
  left: 0;
}
.product-list-container .product-list.prev.ng-leave {
  left: 0;
}
.product-list-container .product-list.prev.ng-leave.ng-leave-active {
  left: 100%;
}
.product-list-container .product-list.next.ng-enter {
  left: 100%;
}
.product-list-container .product-list.next.ng-enter.ng-enter-active {
  left: 0;
}
.product-list-container .product-list.next.ng-leave {
  left: 0%;
}
.product-list-container .product-list.next.ng-leave.ng-leave-active {
  left: -100%;
}
